<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"

    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

	<!-- MySQL 검색 -->
	<sql id="search">

		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if
				test="searchType=='title' and keyword != null and keyword != '' ">

				AND TITLE like CONCAT('%', #{keyword}, '%')

			</if>

			<if
				test="searchType=='content' and keyword != null and keyword != '' ">

				AND CONTENT like CONCAT('%', #{keyword}, '%')

			</if>

			<if
				test="searchType=='reg_id' and keyword != null and keyword != '' ">

				AND reg_id like CONCAT('%', #{keyword}, '%')

			</if>

		</trim>

	</sql>

	<!-- MySQL 검색 -->
	<sql id="searchCnt">

		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="keyword != null and keyword != '' ">

				<if test="searchType=='title'">

					AND TITLE like CONCAT('%', #{keyword}, '%')

				</if>

				<if test="searchType=='content'">

					AND CONTENT like CONCAT('%', #{keyword}, '%')

				</if>

				<if test="searchType=='reg_id'">

					AND reg_id like CONCAT('%', #{keyword}, '%')

				</if>

			</if>

		</trim>

	</sql>



</mapper>